*,
i,
b,
html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1;
}

html,
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

body {
  font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url("hero.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 6rem;
  line-height: 0.6;
  font-weight: 400;
  letter-spacing: -6px;
  color: white;
  position: relative;
}

h1 span {
  display: block;
  font-size: 2rem;
  line-height: -20px;
  margin-bottom: -8px;
  font-weight: 500;
  letter-spacing: -1px;
}

.isotype {
  position: absolute;
  height: 30px;
  right: 15px;
  top: 0;
  display: flex;
  align-items: center;
}
.isotype i {
  margin-right: 3px;
  display: block;
  height: 30px;
  width: 3px;
  background-color: white;
}
.isotype i:nth-child(1) {
  height: 10px;
}
.isotype i:nth-child(2) {
  height: 17px;
}
.isotype i:nth-child(3) {
  height: 25px;
}
.isotype i:nth-child(4) {
  height: 17px;
}
.isotype i:nth-child(5) {
  height: 10px;
}
.isotype i:nth-child(6) {
  height: 17px;
}
.isotype i:nth-child(7) {
  height: 27px;
}
.isotype i:nth-child(8) {
  height: 40px;
}
.isotype i:nth-child(9) {
  height: 27px;
}
.isotype i:nth-child(10) {
  height: 17px;
}
.isotype i:nth-child(11) {
  height: 27px;
}
.isotype i:nth-child(12) {
  height: 17px;
}
.isotype i:nth-child(13) {
  height: 10px;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 160px;
}

.listen-on {
  width: 200px;
  margin: 80px auto 0;
}
